/** First Mobile Responsive Design approach **/
#search-container {
    margin: 32px auto;
}
#relevant-recipes-title-div {
    display: flex;
    align-items: center;
    margin: 8px auto;
}
#block-title {
    margin-left: 1rem;
    font-family: var(--bs-body-font-family);
    font-size: calc(2.5rem + 1.5vw);
}
#relevant-recipes-row-div {
    justify-content: center;
}
#featured-recipe-container {
    margin: 8px auto;
    padding: 8px;
}
#relevant-recipe-container {
    margin: 8px auto;
    width: 95%;
    padding: 8px;
}   

/** Screens larger than 768px which is default breakpoint **/
@media screen and (min-width: 768px) {
    #search-container {
        width: 50vw;
    }
    #featured-recipe-container {
        margin: 0px 8px;
    }
    #relevant-recipe-container {
        width: 40%;
        margin: 8px;
    }    
}