#recipeMoreInformationAccordion {
    margin: 16px 0px;
    border-bottom: 10px;
}
#recipe-data-right-div {
    margin: 16px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#recipe-description-title, #recipe-dietary-requirements-title,
#recipe-cuisine-title, #recipe-total-cooking-time-title {
    font-size: 1rem;
}
#ingredient-title {
    margin: 0px auto 4px;
    line-height: 1.5;
}
#directions-div {
    margin: 16px auto;
}
.accordion-item {
    border: 2px solid rgba(0,0,0,.250) !important;
}

/** Screens larger than 768px which is default breakpoint **/
@media screen and (min-width: 768px) {
    #recipe-description-title, #recipe-dietary-requirements-title,
    #recipe-cuisine-title, #recipe-total-cooking-time-title, #accordion-more-info-title {
        font-size: 1.75rem;
    }
    #recipe-data-right-div {
        margin: 0px auto;
    }
}