/** First Mobile Responsive Design approach **/
body {
    font-family: 'Poppins', 'Roboto', sans-serif !important;
}

#nav-title {
    margin-left: 0.5rem;
    font-weight: 700;
    font-size: 1.5rem;
}
.nav-item {
    font-size: 1.5rem;
}
#navbar-quick-links .nav-link {
    color: rgba(0,0,0,0.8) !important;
}
#navbar-quick-links .nav-link:hover {
    text-decoration: underline;
}

#outer-search-container {
    background-image: url(../default_image.jpg);
    background-size: cover;
    z-index: 100;
    position: relative;
}
#search-container {
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#advanced-search-title {
    font-weight: 700;
}
#test-submit {
    width: 100vw;
}

#featured-recipes-container {
    margin: 32px auto;
}
#featured-student-recipes-title {
    font-weight: 700;
}
.card-title {
    font-weight: 700;
    font-size: 1.75rem;
}
.card-text {
    margin-bottom: 4px;
}
.card-img {
    width: 270px;
    height: auto;
}
.recipe-more-info-div {
    position: absolute;
    bottom: 16px;
}

/** Retrieved Recipes **/
#relevant-recipes-title-div {
    display: flex;
    align-items: center;
}

#block-title {
    margin-left: 1rem;
    font-size: calc(2rem + 1.25vw);
    font-weight: 700;
}

#relevant-recipes-row-div {
    justify-content: center;
}
#relevant-recipes-header-block-div {
    margin: 8px auto;
}

#featured-recipe-container, #relevant-recipe-container {
    margin: 8px auto;
    padding: 8px;
    height: 700px;
    width: 95%;
}
#sort-recipe-form {
    width: 8rem;
}
#sort-recipe-form-div {
    margin: 8px auto 8px;
    display: flex;
}

footer {
    background-color: #f8f9fa;
    padding: 8px 0px;
}
footer .row {
    text-align: center;
}
#footer-left, #footer-right {
    text-align: center;
    margin-top: 16px;
}

/** Screens larger than 768px which is default breakpoint **/
@media screen and (min-width: 768px) {
    #nav-title {
        font-size: 3rem; /** Should be variable? **/
    }
    #search-container {
        min-height: 75vh;
    }
    #test-submit {
        width: 50vw;
    }
    #featured-recipe-container {
        margin: 0px 8px;
        height: 700px;
    }
    #relevant-recipe-container {
        width: 30%;
        margin: 8px;
        height: 700px;
    }
    #footer-left {
        justify-content: center;
        text-align: left;
        font-size: 1rem;
    }
    #footer-right {
        justify-content: end;
        text-align: right;
        font-size: 1rem;
    }
    footer a {
        margin: 0px 4px;
    }     
}