<div class="form_container">
    <form id="searchRecipeForm" method="post">
      <h3>Recipe Difficulty:</h3>
      <select name="recipeDifficulty">
        <option value="">Select...</option>
        <option value="Easy">Easy</option>
        <option value="Medium">Medium</option>
        <option value="Hard">Hard</option>
      </select>
      <h3>Dietary Requirements:</h3>
      <select name="dietaryRequirements">
        <option value="">Select...</option>
        <option value="Vegetarian">Vegetarian</option>
        <option value="Gluten-Free">Gluten-Free</option>
        <option value="Dairy-Free">Dairy-Free</option>
        <option value="Pescatarian">Pescatarian</option>
        <option value="Vegan">Vegan</option>
      </select> <br>
      <div class="submit_container">
        <input type="submit" value="Submit" name="submit">
      </div>
    </form>
  </div>
