{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12" id="relevant-recipes-title-div">
            <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='back_arrow.png') }}" style="width:64px; height:64px">
            </a>
            <span id="block-title">{% block title %} {{ recipe_data.title }} {% endblock %}</span>
        </div> 
        <div class="col-md-4">
            <img src="{{ recipe_data.image_url }}" style="width: 100%; height: auto;">
        </div>
        <div class="col-md-8" id="recipe-data-right-div">
            <div id="recipe-data-right-inner-div">
                <h2 id="recipe-description-title"><b>Description:</b> <span>{{ recipe_data.description }}</span></h2>
                <h2 id="recipe-dietary-requirements-title">
                    <b>Dietary Requirements:</b>
                    {% for dietary_requirement in recipe_data.dietary_requirements %}
                    <span>{{ dietary_requirement }},</span>
                    {% else %}
                    None
                </h2>
                {% endfor %}
                <h2 id="recipe-cuisine-title"><b>Cuisine:</b> {{ recipe_data.cuisine }}</h2>
                <h2 id="recipe-total-cooking-time-title"><b>Total Cooking Time:</b> {{ recipe_data.total_time }} mins</h2>    
            </div>
        </div>

        <div class="col-md-12">
            <div class="accordion" id="recipeMoreInformationAccordion">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          <strong id="accordion-more-info-title">More Information</strong>
                      </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                      <div class="row accordion-body">
                          <div class="col-md-6" id="credits-div">
                              <h2>Credits:</h2>
                              <h5>Author: {{ recipe_data.author }}</h5>
                              <h5>Website Used: BBCGoodFood</h5>
                          </div>
                          <div class="col-md-6" id="ratings-div">
                              <h2>Rating:</h2>
                              <h5>Average Rating: {{ recipe_data.average_rating }}</h5>
                              <h5>Number of Ratings: {{ recipe_data.number_of_ratings }}</h5>
                          </div>
                          <div class="col-md-12" id="nutrition-div">
                              <h2>Nutrition Data Per Serving:</h2>
                              {% for n in recipe_data.nutrition_per_servings.keys() %}
                              <span>{{ n }}: {{ recipe_data.nutrition_per_servings[n] }}</span>
                              {% endfor %}
                          </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div id="options-container" style="display: none;"> <!-- Temporarily remove -->
                <h1>Options: [TODO]</h1>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" value="Metric" id="flexSwitchCheckChecked" checked>
                    <label class="form-check-label" for="flexSwitchCheckChecked" id="flexSwitchCheckCheckedLabel"></label>
                </div> 
                <div>
                    <label for="servings-input">Servings:</label>
                    <input type="number" id="servings-input" min="1" max="100" value="{{ recipe_data.default_servings }}">
                </div>           
            </div>
            <h1>Ingredients:</h1>
            {% for ingredient in recipe_data.ingredients %}
            <p id="ingredient-title">{{ ingredient }}</p>
            {% endfor %}
        </div>
        <div class="col-md-8">
            <h1>Equipment:</h1>
            {% for e in recipe_data.equipment %}
            <span>{{ e }}, </span>
            {% else %}
            <span>None</span>
            {% endfor %}
            <div id="directions-div">
                <h1>Directions:</h1>
                {% for step in recipe_data.steps %}
                <p>{{ step }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<!-- SCRIPT -->
<script src="../static/js/recipe.js"></script>

{% endblock %}
